// Sortables
.sortable {
  border: 1px solid $lighter;

  &.dragging {
    ul {
      cursor: grabbing;
    }
  }

  ul {
    cursor: grab;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      padding: 8px 12px;

      + li {
        border-top: 1px solid $lighter;
      }

      &:hover {
        i {
          color: $primary;
          transform: scale(1.5);
        }
      }

      &.active-drag {
        background-color: transparentize($primary, .5);
      }
    }
  }

  i {
    color: $light;
    font-size: 12px;
    margin-right: 4px;
    position: relative;
    top: -1px;
    transition: color $t ease, transform $t ease;
  }
}
